.
{
    margin: o;
    padding: 0;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(6b3be80e68e1f80d5632eb75af56d9e5.gif);
    height: 160vh;
    background-position: center;
    background-size: cover;
}
.hero
{
    font-size: 19px;
    color: white;
    margin-left:  650px;
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    position: absolute;
}
.button
{
    position: absolute;
    margin-top: 30px;
    margin-left: 650px;
    margin-right: auto;
}
.btn
{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Ropoto" sans-serif;
    padding: 2px 6px;
    border: 2px solid deeppink;
     border-radius: 50px;
}
.btn-one:hover
{
    background-color: lightsalmon;
}
.image
{
    border: 2px solid aqua;
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
}
.paragraph
{
    color: yellow;
    position: absolute;
    align-content: center;
    margin-top: 45px;
    margin-left: 340px;
    margin-right: 10px;
    font-size: 20px;
}
.paragraph1
{
    position: absolute;
    margin-top: 330px;
    margin-left: 25px;
    margin-right: 10px;
    color: yellow;
    font-size: 20px;
}
